/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --default-fs: 1.6rem;

  /* Fonts */

  --f-h1: 500 3.2rem 'Dosis', sans-serif;
  --f-paragraph: 400 var(--default-fs) / 2.3rem 'Open Sans', sans-serif;
  --f-menu-footer: 700 var(--default-fs) 'Open Sans', sans-serif;

  /* Colors */
  --dark-pink: hsl(295, 100%, 57%);
  --dark-grayish-blue: hsl(245, 17%, 29%);
  --very-light-grayish-blue: hsl(210, 19%, 94%);
  --gray: hsl(0, 0%, 51%);
}

body {
  display: grid;
  justify-items: center;
  gap: 6.4rem;
  min-height: 100vh;
  font-size: 1.6rem;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Main Content */
#main {
  display: grid;
  gap: 3.2rem;
  max-width: 68.6rem;
  margin: 6.4rem 2rem 0;
  text-align: center;
}

#main img {
  margin: 0 auto 3.2rem;
}

#main h1 {
  margin-bottom: var(--default-fs);
  font: var(--f-h1);
  color: var(--dark-grayish-blue);
}

#main h1 strong {
  color: var(--dark-pink);
}

#main p {
  font: var(--f-paragraph);
  color: var(--gray);
}

#main p:nth-of-type(1) strong,
#main p:nth-of-type(2) strong:nth-child(2) {
  color: var(--dark-grayish-blue);
}

/* Footer */
#footer {
  width: 100%;
  align-self: end;
}

#footer .menu {
  max-width: 39rem;
  margin: 0 auto 4rem;
  padding-top: 1.6rem;
  border-top: 0.1rem solid var(--very-light-grayish-blue);
}

#footer .menu ul {
  display: flex;
  justify-content: center;
  gap: 4.2rem;
}

#footer .menu ul a {
  font: var(--f-menu-footer);
  color: var(--dark-grayish-blue);
  transition: color 300ms ease-out;
}

#footer .menu ul a:hover {
  color: var(--dark-pink);
}

#footer img {
  width: 100vw;
}
